.box {
    display: flex;
    margin-left: 50px;
}
.box_option{
    display: flex;
    margin-left: 50px;
}

.box_optionOne {
    display: flex;
    background-color: white;
    margin-right: 10px;
    align-items: center;
    width: 290px;
    height: 50px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.box_optionTwo {
    display: flex;
    background-color: white;
    margin-right: 10px;
    align-items: center;
    width: 290px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.box_optionThree {
    display: flex;
    background-color: white;
    margin-right: 10px;
    align-items: center;
    width: 290px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.box_optionFour {
    display: flex;
    background-color: white;
    margin-right: 10px;
    align-items: center;
    cursor: pointer;
    width: 290px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.img {
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
}